{%extends 'base.html'%}
{%block contents%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/admin_pges.css">
</head>
<body>
   <div class="admin_allEvents_card">
    {% for i in event %}
    <div class="event_card">

        <div class="event_image">
            <img src="{{ i.e_image.url }}" alt="event image">
        </div>

        <div class="event_body">
            <h4>{{ i.title }}</h4>
            <p>{{ i.location }}</p>

            <div class="event_actions">
                {% if i.event_cancel %}
                <button class="cancelled_btn" disabled>
                    Cancelled
                </button>
                {% else %}
                <a href="{% url 'cancel_event' i.id %}">
                    <button class="delete_btn">Cancel Event</button>
                </a>
                {% endif %}
            </div>
        </div>

    </div>
    {% endfor %}
</div>


    
</body>
</html>
{% endblock %}