<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/base_pg.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="logo">
                <img src="/static/images/BE logo.png" alt="" width="80px" height="60px">
            </div>
            {% if user.is_authenticated %}
            <p>{{request.user}}</p>
            <a href="{% url 'Logout_page' %}">Logout</a>
            {% endif %}
            {% if user.is_authenticated and user.role == 'admin' %}
            <a href="{% url 'admin_dashbord' %}"><p>Events</p></a>
            <a href="{% url 'pending_page' %}"><p>🔔Pending Approvals</p></a>
            {% endif %}
            <a href="{% url 'homepage' %}">Home</a>
            <a href="{% url 'Login_page' %}">Login</a>
            {% if user.is_authenticated and user.role == 'user' %}
            <a href="{% url 'EventBooked' %}">Event Booked</a>
            {% endif %}
            {% if user.is_authenticated and user.role == 'hoster' %}
            <a href="{% url 'cancel_noti' %}">Notification {{ cancel_count }}</a>
            {% endif %}
            <a href="{% url 'RegisterUser' %}">Register</a>
            {% if user.is_authenticated and user.role == 'hoster' %}
            <a href="{% url 'hoster_dashbord' %}">Add Events</a>
            {% endif %}

        </div>
        <div class="content">
            {%block contents%}
            {%endblock%}

        </div>
        <div class="footer">
            <p>© 2025 EventBook. All Rights Reserved.</p>
        </div>
    </div>
    
</body>
</html>